##############################################
# Alles ignorieren                               # * bedeutet alles
##############################################
*

##############################################
# Verzeichnisse wieder erlauben
##############################################
!*/

##############################################
# Ordner ignorieren
##############################################
# /.Releases/
# *.Releases/
# !*/.Releases/
# /.aLT/
# *.aLT/
# !*/.aLT/

##############################################
# Verzeichnisse wieder erlauben                  # !*/Unterordner/
##############################################
!*/.docs/Anleitungen/
!*/.gitea/ISSUE_TEMPLATE/
!*/.gitea/workflows/
!*/.github/ISSUE_TEMPLATE/
!*/.github/workflows/
!*/images/
!*/docs/assets/icons/
!*/docs/examples/
!*/docs/git/
!*/docs/images/
!*/docs/markdown/
!*/docs/stylesheets/
!*/override/.icons/

##############################################
# Ausnahme: diese Dateien NICHT ignorieren
##############################################
# Beispiel:
# - für Dateien in Unterordnern                  # !/Pfad/zur/Datein.txt
# - für einzelne Dateien                         # !Datein.txt
##############################################
!/.docs/Anleitungen/**
!/.docs/projektvision.md
!/.gitea/ISSUE_TEMPLATE/bug_report.md
!/.gitea/ISSUE_TEMPLATE/feature_request.md
!/.gitea/ISSUE_TEMPLATE/idea.md
!/.gitea/ISSUE_TEMPLATE/task.md
!/.gitea/workflows/Demo.yaml
!/.gitea/workflows/lint.yml
!/.gitea/PULL_REQUEST_TEMPLATE.md
!/.github/ISSUE_TEMPLATE/bug_report.md
!/.github/ISSUE_TEMPLATE/feature_request.md
!/.github/ISSUE_TEMPLATE/idea.md
!/.github/ISSUE_TEMPLATE/task.md
!/.github/workflows/Demo.yaml
!/.github/docs.yml
!/.github/workflows/lint.yml
!/.github/PULL_REQUEST_TEMPLATE.md
!/docs/assets/cheatsheets-logo.png
!/docs/assets/logo.png
!/docs/images/favicon.png
!/docs/images/cheatsheets-logo-favicon.png
!/docs/images/gitcheatsheet.png
!/docs/examples/index.md
!/docs/examples/Notizen.md
!/docs/examples/Checkboxen.md
!/docs/examples/Code-Blöcke.md
!/docs/markdown/markdown.md
!/docs/stylesheets/extra.css
!/docs/index.md
!/docs/markdown.md
!/docs/git/index.md
!/docs/git/Ordner_zur_Repo_machen.md
!/images/Cheat-Sheets.webp
!/images/cheatsheets.png
!/images/git-cheatsheet.png
!/images/social-preview.png
!/overrides/.icons/note-text-outline.svg
!/.gitattributes
!/.gitignore
# WICHTIG: .yamllint <-> ignoriert Fehler für Stil
!/.yamllint
!/CHANGELOG.md
!/CODE_OF_CONDUCT.md
!/CONTRIBUTING.md
!/LICENSE
!/mkdocs.yml
!/README.md
!/requirements.txt
!/zensical.toml

